cdumay-error==0.2.0
cdumay-http-client==0.0.15
cdumay-rest-client==0.2.6
certifi==2021.10.8
cffi==1.13.2
charset-normalizer==2.0.10
cryptography==2.8
idna==2.8
marshmallow==3.3.0
ndg-httpsclient==0.5.1
pyasn1==0.4.8
pycparser==2.19
PyOpenSSL==19.1.0
requests==2.27.1
six==1.14.0
urllib3==1.24.3